.about-wrapper-mob {
  padding: 3em 0em;
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-title-mob h1 {
  font-weight: bold;
  font-size: 4em;
  color: black;
  margin-top: .6em;
  margin-bottom: .6em;
}

.about-words-wrapper-mob {
  padding-bottom: 1em;
  padding-top: 1em;
  // border: 2px solid red;
}