.about-pic-mob {
  display: inline;
  margin: 0 auto;
  margin-left: -17%;
  height: 100%;
  width: auto;
}

.img-cropper-mob {
  width: 15em;
  height: 15em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  // border: 
  margin: 0 auto;
  margin-bottom: .6em;
}