.about-pic-mob {
  display: inline;
  margin: 0 auto;
  margin-left: -17%;
  height: 100%;
  width: auto;
}

.img-cropper-mob {
  width: 17em;
  height: 17em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  // border: 
  margin: 0 auto;
  margin-bottom: .2em;

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    width: 22em;
    height: 22em;

  }

}