// ---------- Projects Mob -----------

.port-cont-mob {
  height: 85vh;
  text-align: center;
  padding: 2em;

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    height: 100vh;

  }
}

.proj-header-mob h2 {
  font-size: 4em;
  padding: 1em;
  color: black;
  font-weight: bold;
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    font-size:  5em;
  }

  
}

// --------- Project Mob ----------------

.project-image-mob {
  width: 95%;
  height: 30vh;
  cursor: pointer;
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    height: 50em;
    
  }
}

.proj-head-mob {
  font-size: 1.5em;
  padding-bottom: 1em;
  // border: 1px green solid;
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    font-size: 2.2em;
    padding: 1em 2.5em;
    line-height: 1.85em;
  }
}

.project-cont-mob {
  height: 10em;

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    h2 {
      font-size: 3em;
      text-decoration: underline;
    }

  }

}