@import url('https://fonts.googleapis.com/css?family=Oxygen|Raleway&display=swap');
@font-face {
  src: url('https://fonts.googleapis.com/css?family=Oxygen|Raleway&display=swap');
  /* TITle */
  font-family: 'Oxygen', sans-serif;
  /* Text */
  font-family: 'Raleway', sans-serif;
}

// ---------- Projects Mob -----------

.port-cont-mob {
  height: 70em;
  text-align: center;
  padding: 2em;

  h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    height: 110vh;

  }
}

.proj-header-mob h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  padding: 2em;
  color: black;
  font-weight: bold;
  // border: red solid 2px;
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    font-size:  5em;
  }

  
}

// --------- Project Mob ----------------

.project-image-mob {
  width: 95%;
  height: 30vh;
  cursor: pointer;
  box-shadow: 0px 3px 10px rgba(25,17,34,0.05);

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    height: 50em;
    
  }
}

.proj-head-mob {
  font-size: 1.5em;
  padding-bottom: 1em;
  // border: 1px green solid;
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    font-size: 2.2em;
    padding: 1em 2.5em;
    line-height: 1.85em;
  }
}

.project-cont-mob {
  height: 10em;

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    h2 {
      font-size: 3em;
      text-decoration: underline;
    }

  }

}