@import url('https://fonts.googleapis.com/css?family=Oxygen|Raleway&display=swap');
@font-face {
  src: url('https://fonts.googleapis.com/css?family=Oxygen|Raleway&display=swap');
  /* TITle */
  font-family: 'Oxygen', sans-serif;
  /* Text */
  font-family: 'Raleway', sans-serif;
}

// --------- HOME Hero ---------------

.hero-cont {
  position: relative;
  width: 100%;
  height: 100vh;
  // min-height: 35rem;
  // padding: 15rem 0;
  background: 
    url('../../../assets/grid-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  
  // border: 2px red solid;
  // opacity: 60%;

  .center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;
    
    // border: 2px blue solid;
    text-align: center;
  }
  
  h1 {
    // font-family: 'Varela Round';
    font-family: 'Oxygen', sans-serif;
    font-size: 8rem;
    line-height: 9rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(
      fade-out(black, 0.1),
      fade-out(black, 0.5)
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      // border: 2px green solid;
      padding-bottom: .2em;
    }
    h6 {
      font-size: 2.5rem;
      // letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(
      fade-out(black, 0.1),
      fade-out(black, 0.5)
      );
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      // border: 2px green solid;
  }

}

// ------------ ABOUT ME -----------------

.about-cont-wrapper {
  padding: 3em 0em;
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.about-title-wrapper {
  text-align: center;

}

.about-title h1 {
  font-weight: bold;
  font-size: 4em;
  color: black;
  margin-top: 1em;
  margin-bottom: .6em;
}

.about-words-wrapper {
  padding-bottom: 1em;
  padding-top: 1em;
  // border: 2px solid red;
  width: 50%;
}


.about-img-cont {
  width: 100%;
  height: 100%;
  // border: 2px solid red;

}
.about-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -17%;
  height: 100%;
  width: auto;
}

.img-cropper {
  width: 25em;
  height: 25em;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  // border: 
  margin: 0 auto;
  margin-bottom: .6em;
}

.words-head {
  text-align: center;
  font-weight: bold;
}

.words {
  font-size: 1.67em;
  // padding: 1em 2em;
  width: 90%;
  height: 100%;
  // border: 2px solid blue;
  text-align: left;
  line-height: 1.75;
  

}

.words-p p {
  width: 100%;
  margin-bottom: 0em !important;
  // border: 2px solid red;
  // line-height: 1.5rem;

  letter-spacing: 0.1rem;

}


// ----------- SKILLS -------------------

.language-cont {
  padding: 5em 9em;
  height: 80vh;
  width: 100%;
  // background-color: rgb(231, 255, 253);
  background-color: #f1f3f3;
  color: black;
  // padding-top: 3em;

  // border: green 1px solid;
}

.skills-head h1 {
  text-align: center;
  font-size: 4em;
  padding-bottom: 1em;
  font-weight: bold;
}

// ------- SKILL CARD MOB --------------

.skills {
  display: flex;
  width: 100%;
  height: 80%;
  // border: 2px red solid;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.skill-wrapper {
  
  width: 30%;
  // border: 2px blue solid;
  text-align: center;
  // padding: 1em;
  margin: .5em;

  .skill-icons {
    font-size: 2.5em;
    margin: .5em 0em;
  }

  h3 {
    font-size: 2.5em;
    // font-weight: lighter;
  }
}



// ----------------- Projects  ---------------


.port-cont {
  height: 100vh;
  text-align: center;
  padding: 2em 5em;
  // border: 1px yellow solid;

}

.proj-header h2 {
  font-size: 4em;
  padding: 1em;
  color: black;
  font-weight: bold;
  
}

// --------- Project  ----------------

.project-image {
  width: 80%;
  height: 90%;
  cursor: pointer;
  // border: 1px green solid;
  
}

 .proj-head {
  font-size: 2.25em;
  padding-bottom: 1em;
  // border: 1px green solid;
}

.project-cont {
  height: 50vh;
  display: flex;
  // justify-content: space-around;
  // border: 1px red solid;
}

.proj-desc h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 40vw;
  height: 100%;
  padding-right: 2em;
  letter-spacing: 0.2rem;
  line-height: 1.5em !important;
  // border: 1px blue solid;
}

// ---------- RESUME ------------

.resume {
  padding-top: 6em;
  text-align: center;
}